.gContainerForm {
    display: flex;
    flex-direction: column;
}

.gContainerForm textarea {
    max-width: 496px;
    resize: none;
    padding-left: 5px;
    background-color: var(--cinza);
    border: 1px solid var(--gray);
    border-radius: 5px;
    caret-color: var(--branco);
    color: var(--gray);
}

.gContainerForm textarea::placeholder {
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
}
