.gcontainerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30px;
  flex-shrink: 1;
  border-radius: 15px;
  border: 2px solid transparent;
}

.gcontainer>h1 {
  background-color: var(--azul);
  color: var(--branco);
  width: 432px;
  height: 70px;
  border-radius: 10px;
  margin-top: -35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  width: 432px;
  height: 260.88px;
  border-radius: 15px;
}

.imgContainer>img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btnContainer {
  width: 432px;
  height: 59px;
  padding: 10px 0px;
  background-color: var(--preto);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.btnContainer button {
  border: none;
}

.btn {
  background-color: var(--preto);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--branco);
  font-family: var(--fonte1);
  font-size: 16px;
  font-weight: bolder;
}