header {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte);
    align-items: center;
    background-color: var(--cinza);
    border-bottom: 3px solid var(--azul-escuro);
    width: 100%;
    height: 96px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logoH {
    width: 169px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 40px;
    top: 40px;
}
.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    gap: 25px;
}

.headerLink {
    align-items: center;
    background-color: var(--preto);
    border: var(--azul-escuro);
    border-radius: 10px;
    border: 2px transparent transparent;
    border-bottom: 2px solid var(--branco);
    box-shadow: 0px 0px 12px 4px var(--azul) inset;
    color: var(--branco);
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
    width: 180.13px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    letter-spacing: 4px;
}

.headerLink:hover {
    background-color: var(--cinza);
    box-shadow: 0px 0px 12px 4px var(--preto) inset;
    color: var(--branco);
}

.headerLink1 {
    align-items: center;
    background-color: var(--cinza);
    border: var(--preto);
    border-radius: 10px;
    border: 2px transparent transparent;
    border-bottom: 2px solid var(--azul-escuro);
    box-shadow: 0px 0px 12px 4px var(--branco) inset;
    color: var(--preto);
    font-family: var(--fonte);
    font-size: 22px;
    font-weight: bold;
    width: 180.13px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.headerLink1:hover {
    background-color: var(--preto);
    box-shadow: 0px 0px 12px 4px var(--branco) inset;
    color: var(--azul);
}

@media (max-width: 600px) {
    .logoH {
        display: none;
    }

    .linkContainer {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 30px;
        width: 100%;

        text-align: center;
    }
}
