.gContainer {
    display: flex;
    flex-direction: column;

}

.gContainer label {
    display: block;
}

.gContainer select {
    background-color: var(--cinza);
    border: 2px solid var(--gray);
    color: var(--gray);
    font-size: 20px;
    border-radius: 10px;
    /* width: 500px; */
    /* width: 50%; */
    height: 60px;
}

.placeholderOption {
    color: var(--gray);
}
