* {
    margin: 0;
    padding: 0;
    --fonte: "Roboto", sans-serif;
    --background: linear-gradient(90deg, #424175 0%, rgb(30, 29, 79, 0.8) 100%);
}

:root {
    --background: linear-gradient(90deg, #424175 0%, rgb(30, 29, 79, 0.8) 100%);
    --fonte: "Roboto", sans-serif;
    --branco: #f5f5f5;
    --gray: rgb(138, 133, 133);
    --preto: #000;
    --cinza-escuro: #262626;
    --cinza: #333;
    --overlay: #0e1e3d98;
    --azul: #24a5e0 ;
    --azul-escuro: #0603c4;
    --frontend: #2271d1;
    --backend: #03e40e;
    --mobile: #f7de04;
}

.App {
    width: 100vw;
    height: 2058px;
    --fonte: "Roboto", sans-serif;
    line-height: 1.5;
    font-family: var(--fonte);
    background: var(--preto);
}

a {
    text-decoration: none;
    list-style: none;
}
